
/*Angular cloaking css*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.content {
    display: inline-block;
    margin: 50px auto;
}

div {
    padding: 10px;
}
