
/*Angular cloaking css*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

div {
    padding: 10px;
}

textarea {
    margin: 10px 0px;
}

.quote {
    text-align: right;
}

.buttons {
    text-align: center;
}

.addMargin {
    margin: 15px 0px;
}
